<!DOCTYPE html>
<title></title>

<head>


</head>

<body>

Confirm or deny pending request for Booking of <%= @space_requested.name%>
<br><br>
Description: <%= @space_requested.description %>
<br><br>
Price: £<%= @space_requested.price %>
<br><br>
the booking is for <%= @booking.date %>
<br><br>
Currently the status is:
<%= @booking.booking_status%>
<br><br>

<form action="/user/request_pending/confirm" method="post">
  <input type="hidden" name="booking_id" value="<%=@booking.id%>">
  <input type="submit" value="Confirm">
</form>
<br>
<form action="/user/request_pending/deny" method="post">
  <input type="hidden" name ="booking_id" value="<%=@booking.id%>">
  <input type="submit" value="Deny">
</form>
<br><br>

</body>
