<div class="header">
  <h1> Rspectors Booking Requests </h1>
</div>


<div class="row">
  <div class="create_container page_info_container">
    <div class="page_info_header_container">
      <h3>Your Requests:</h3>
    </div>
    <div class="page_info_message_container">
       Here you can view the booking requests you have made:
    </div>
  </div>
</div>


<div class="requests_container main_body">
  <div class="requests_made_container show_requests_container">
    <div class="item_container request_header">
      <h2>Spaces I'm trying to book</h2>
    </div>
    <% if not @requests_made.empty? %>
      <% @requests_made.each do |booking| %>
        <div class="space_container item_container">
          <div class="space_info">
            <div class="space_header">
              <b><%= Space.find(id: booking.space_id).name %></b>
            </div>
            <div class="space_description">
              <p><%= booking.date %></p>
            </div>
            <div class="status_container">
              <span>Status: <%= booking.booking_status %> </span>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="space_container item_container">
        <span class="no_requests">No booking requests found</span>
      </div>
    <% end %>
  </div>

  <div class="requests_received_container show_requests_container">
    <div class="item_container request_header">
      <h2>Booking Requests for Spaces I Own</h2>
    </div>
    <% if @requests_received != nil%>
      <% @requests_received.each do |booking| %>
        <div class="space_container item_container">
          <div class="space_info">
            <div class="space_header">
              <b><%= Space.find(id: booking.space_id).name %></b>
            </div>
            <div class="space_description">
              <p><%= booking.date %></p>
            </div>
            <div class="status_container">
              <span>Status:<%= booking.booking_status %> </span>
            </div>
          </div>
          <div class="arrow_container">
            <a href="/user/request_pending/<%= booking.id %>">
              <img src="images/right arrow.png">
            </a>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="space_container item_container">
        <span class="no_requests">No booking requests found</span>
      </div>

    </div>
  <% end %>

</div>
