<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="<%= url('/styles/site_css.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="header">
  <h1> Rspectors Listings </h1>
</div>


<div class="row">
  <div class="create_container page_info_container">
    <div class="create_header_container">
      <h3>List a Space</h3>
    </div>
    <div class="create_message_container">
      Add your own listing, and start turning your excess numbers of properties into an unreliable income stream
    </div>
    <div class='create_space_container'>
      <% if @user_id == nil %>
        <span>Sign in or create account to list your space</span>
      <% end %>
      <form action='/spaces/new'>
        <% if @user_id == nil %>
            <input type='submit' value='Create Space' disabled>
        <% else %>
          <input type='submit' value='Create Space'>
        <% end %>
      </form>
    </div>
  </div>
  <br>
</div>

<div class="listings_container main_body">
  <% @all_spaces.each do |space| %>
    <div class="space_container item_container">
      <div class="space_info">
        <div class="space_header">
          <b><%= space.name %></b>
        </div>
        <div class="space_description">
          <p><%= space.description %></p>
        </div>
        <div class="price">
          <span>Price per night: £<%= space.price %></span>
        </div>
      </div>
      <div class="arrow_container">
        <a href="/spaces/space/<%= space.id %>">
          <img src="images/right arrow.png">
        </a>
      </div>
    </div>
  <% end %>
</div>

</body>
</html>