<!DOCTYPE html>
<title></title>

<head>


</head>

<body>

Create Booking for <%= @space.name %>

<br><br>

<%= @space.description %>
<br><br>
£<%= @space.price %>

<br><br>

<% if @user_id == nil %>
<h3><em>Please login to book a space.</em></h3>
<% end %>

<form action='/bookings/create_booking' method='post'>

  <label for="start">Please select the date</label>
  <input type="date" id="start" name="choose_date"
         value="<%= @space.available_from %>"
         min=<%= @space.available_from %> max=<%= @space.available_to %>>
   <% if @user_id != nil %>
     <input type="submit" value="Book Space">
   <% else %>
     <input type="submit" value="Book Space" disabled>
   <% end %>

</form>

<br><br>

 # Coming back to this to finish

<% <% @unavailable_dates.each do |booking| %>
  <%= booking.date %>
<% end %> %>


</body>
